/* tailwind css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .bg-glass-blue {
    background: rgba(66, 153, 225, 0.3);
  }

  .bg-glass-red {
    background: rgba(255, 99, 71, 0.3);
  }
}
